<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Estate Broker</title>
	<link href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/css/bootstrap.min.css" rel="stylesheet" >
	<link href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/css/font-awesome.min.css" rel="stylesheet" >
	<link href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/css/global.css" rel="stylesheet">
	<link href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/css/login.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap" rel="stylesheet">
	<script src="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<section id="top">
 <div class="container">
  <div class="row top_1">
   <div class="col-md-5">
    <div class="top_1l">
	 <ul class="mb-0">
	  <li style="margin-right:10px;" class="d-inline-block col_light">Follow Us :</li>
	  <li style="margin-right:10px;" class="d-inline-block"><a class="text-white" href="#"><i class="fa fa-facebook"></i></a></li>
	  <li style="margin-right:10px;" class="d-inline-block"><a class="text-white" href="#"><i class="fa fa-instagram"></i></a></li>
	  <li style="margin-right:10px;" class="d-inline-block"><a class="text-white" href="#"><i class="fa fa-twitter"></i></a></li>
	  <li class="d-inline-block"><a class="text-white" href="#"><i class="fa fa-vimeo"></i></a></li>
	 </ul>
	</div>
   </div>
   <div class="col-md-7">
    <div class="top_1r float-end">
	  <ul class="mb-0">
	  <li style="margin-right:10px;" class="d-inline-block"><a class="text-white" href="#"><i class="fa fa-phone col_light me-1"></i> +123 123 456 </a></li>
	  <li style="margin-right:10px;" class="d-inline-block"><a class="text-white" href="login.html"> Login </a></li>
	  <li style="margin-right:10px;" class="d-inline-block"><a class="text-white" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/register.html"> Register </a></li>
	 </ul>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="header">
<nav class="navbar navbar-expand-md navbar-light bg-white" id="navbar_sticky">
  <div class="container">
    <a class="navbar-brand col_1" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/index.html"><i class="fa fa-home col_1"></i> Estate <span class="col_4">Broker</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/about.html">About Us</a>
        </li>
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Property
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a style="border-bottom:1px solid #ddd;" class="dropdown-item" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/property.html">Property</a></li>
            <li><a class="dropdown-item" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/property_detail.html">Property Detail</a></li>
          </ul>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/services.html">Services</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/agent.html">Agent</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a style="border-bottom:1px solid #ddd;" class="dropdown-item" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/blog.html">News</a></li>
            <li><a class="dropdown-item" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/blog_detail.html">News Detail</a></li>
          </ul>
        </li>

		<li class="nav-item">
          <a class="nav-link" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/contact.html">Contact Us</a>
        </li>

		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a style="border-bottom:1px solid #ddd;" class="dropdown-item" href="login.html">Login</a></li>
            <li><a class="dropdown-item" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/register.html">Register</a></li>
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>
</section>

<section id="center" class="center_o">
 <div class="container">
  <div class="row center_o1">
   <div class="col-md-12 text-center">
     <h1>Log<span class="col_4">in</span></h1>
	 <h5 class="normal col_1 mb-0"><a class="col_2" href="#">Home</a> <span class="col_2">/</span> <a class="col_2" href="#">Pages</a> <span class="col_2">/</span> Login  </h5>
   </div>
  </div>
 </div>
</section>

<section id="login">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class="login_1">
	 <h3 class="col_1">Log<span class="col_4">in</span></h3>
	 <p>login with your Broker account</p>
	 <h6 style="margin-top:40px;">Email Address</h6>
	 <input type="email" class="form-control" placeholder="Your Email">
	 <h6 style="margin-top:30px;">Password</h6>
	 <input type="email" class="form-control" placeholder="Your Password">
	 <div class="d-flex justify-content-between mt-4">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="remember">
<label class="form-check-label" for="remember">
Remember Me
</label>
</div>
<a href="#" class="col_1">Forgot Password?</a>
    </div>
        <h6 class="mt-4 mb-0"><a class="button" href="#">LOGIN  <i style="margin-left:5px;" class="fa fa-sign-in"></i></a></h6>
	<p class="mt-4 mb-0">Don't have an account? <a class="col_1" href="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/register.html">Register</a></p>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="footer">
 <div class="footer_m">
  <div class="container">
   <div class="row footer_1">
     <div class="col-md-6">
       <div class="footer_1l">
	    <h2 class="text-white"><span class="col_4">Newsletter</span> – Get Updates & News</h2>
	   </div>
     </div>
	 <div class="col-md-6">
       <div class="footer_1r">
	     <div class="input-group">
					<input type="text" class="form-control form_2" placeholder="Enter Your Email ">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">
							Subscribe</button>
					</span>
      </div>
	   </div>
     </div>
   </div>
   <div class="row footer_2">
    <div class="col-md-4">
	 <div class="footer_2i">
	   <h4 class="text-white mb-3">About Us</h4>
	   <p class="col_3">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
	   <h4 class="text-white">Social Links</h4>
	   <ul class="social-network social-circle mb-0 mt-3">
					<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
					<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
	   </ul>
	 </div>
	</div>
	<div class="col-md-2">
	 <div class="footer_2i1">
	   <h4 class="text-white mb-3">Useful Links</h4>
       <ul>
	    <li class="mb-1"><a class="col_3" href="#">Management</a></li>
		<li class="mb-1"><a class="col_3" href="#">Reporting</a></li>
		<li class="mb-1"><a class="col_3" href="#">Tracking</a></li>
		<li class="mb-1"><a class="col_3" href="#">All Users</a></li>
		<li><a class="col_3" href="#">Support</a></li>
	   </ul>
	 </div>
	</div>
	<div class="col-md-4">
	 <div class="footer_2i2">
	   <h4 class="text-white mb-4">Featured Properties</h4>
       <div class="footer_2i2i row">
	    <div class="col-md-3">
		 <div class="footer_2i2il">
		   <a href="#"><img src="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/img/4.jpg" alt="abc" class="w-100"></a>
		 </div>
		</div>
		<div class="col-md-9">
		 <div class="footer_2i2ir">
		  <p><a class="col_3" href="#">We Are Leading International Consultiing Agency</a></p>
		 </div>
		</div>
	   </div>
	   <div class="footer_2i2i row">
	    <div class="col-md-3">
		 <div class="footer_2i2il">
		   <a href="#"><img src="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/img/7.jpg" alt="abc" class="w-100"></a>
		 </div>
		</div>
		<div class="col-md-9">
		 <div class="footer_2i2ir">
		  <p><a class="col_3" href="#">Digital Marketing Agency all the foundational tools</a></p>
		 </div>
		</div>
	   </div>
	   <div class="footer_2i2i row">
	    <div class="col-md-3">
		 <div class="footer_2i2il">
		   <a href="#"><img src="../../../../../../Users/user/Desktop/JUSUP%20TEMP/realtor_zip/realtor_zip/img/6.jpg" alt="abc" class="w-100"></a>
		 </div>
		</div>
		<div class="col-md-9">
		 <div class="footer_2i2ir">
		  <p><a class="col_3" href="#">Doloremque velit sapien labore eius itna</a></p>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
	<div class="col-md-2">
	 <div class="footer_2i1">
	   <h4 class="text-white mb-3">Quick Links</h4>
       <ul>
	    <li class="mb-1"><a class="col_3" href="#">Home</a></li>
		<li class="mb-1"><a class="col_3" href="#">About</a></li>
		<li class="mb-1"><a class="col_3" href="#">Services</a></li>
		<li class="mb-1"><a class="col_3" href="#">Blog</a></li>
		<li><a class="col_3" href="#">Contact</a></li>
	   </ul>
	 </div>
	</div>
   </div>
   <div class="row footer_3 text-center">
    <div class="col-md-12">
	  <p style="margin-top:30px;" class="mb-0 col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	</div>
   </div>
 </div>
 </div>
</section>

<script>
window.onscroll = function() {myFunction()};
var navbar_sticky = document.getElementById("navbar_sticky");
var sticky = navbar_sticky.offsetTop;
var navbar_height = document.querySelector('.navbar').offsetHeight;
function myFunction() {
  if (window.pageYOffset >= sticky + navbar_height) {
    navbar_sticky.classList.add("sticky")
	document.body.style.paddingTop = navbar_height + 'px';
  } else {
    navbar_sticky.classList.remove("sticky");
	document.body.style.paddingTop = '0'
  }
}
</script>

</body>

</html>
